@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-image: url(../../public/images/fundoHome.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.perfil {
    background-color: rgb(238, 238, 238);
    padding: 5rem;
}

.avatar img {
    width: 20%;
    border-radius: 10%;
    transition: .3s ease-in-out;
}

.avatar img:hover {
    width: 20%;
    border-radius: 50%;
    transition: .3s ease-in-out;
    scale: .9;
}

.info {
    font-family: "Rubik", sans-serif;
    margin-top: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.redesSociais {
    width: 8%;
    margin: auto;
    margin-top: 1.7rem;
}

.redesSociais ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.redesSociais ul li img {
    width: 72%;

}